name: iabtcf_consent_info_platform_interface
description: Platform interface for the iabtcf_consent_info plugin.
version: 1.0.4
repository: https://github.com/blaugold/iabtcf_consent_info
issue_tracker: https://github.com/blaugold/iabtcf_consent_info/issues

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.3.0
  plugin_platform_interface: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.11.0
